ul{display: inline-block;
list-style-type: none;}
nav,ul{
    background-color: yellow;
    color: black;
    font-weight: bolder;
    width: 100%;
}
ul>li>a{
    color:black;
    font-weight: bolder;
}
ul>li{
    display: inline-block;
    margin-right: 50px;
    transition: all 0.5s ease-in-out;
}
ul>li:hover a{color: RED;}